<body>
    <div class="container">
        <div class="row g-o">
            <div class="row g-o">
            <div class="col text-center p-2 mb-3 rounded-3 bg-info">
                <span class="fs-3">Feedbacks</span>
              </div>
            </div>
            <div class="col">
                <table class="table table-hover text-white">
                    <thead class="thead text-info" style="font-weight: 1;">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Feedback</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of objCan.conList">
                            <td>{{p.CId}}</td>
                            <td>{{p.CName}}</td>
                            <td>{{p.CMessage}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</body>