<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://appointmentwebapi83823.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>73085d31-d3d4-47a8-bf69-d4e3670e75f8</ProjectGuid>
    <PublishUrl>https://appointmentwebapi83823.scm.azurewebsites.net/</PublishUrl>
    <UserName>$AppointmentWebAPI83823</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>