.form{
    width: 300px;
    transform: scale(1.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    
    
}

.form-control{
    background:transparent;
    background-color: transparent;
    color:transparent
}
::placeholder{
    color: white;
}


.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

button{
    padding-top: 0%;
    padding-bottom: 5%;
}