
    <head>
      <title>About Us Section</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
      <link rel="stylesheet" type="text/css" href="/stylesheet.css">
      <meta charset="utf-8">
  
  <link rel="preconnect" href="https:fonts.googleapis.com">
  <link rel="preconnect" href="https:fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;
  0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  
    </head>	
    
    <body>
      <section class="about">
        <div class="content">
          <img src="./assets/images/serv2.jpg" style="background-size: cover;">
          <div class="text">
            <h1 style="color: #0250a9;"><u>About Us</u></h1>
            <h5 style="color: #db64cf; font-weight: bolder;">Medicare's Appointment Scheduler</h5>
            <p>Most Expirenced doctors.
              Having more than 40 years experience.Available for 24 hours.
              This Will Help You To Book Your Appointment with The Doctors that will help you to get your medical issue resolved</p>
            <button type="button" class="btn" (click)="OnClick()">Contact Us</button>
            
          </div>
        </div>
        
      </section>  
      <div id="about-2">
        <div class="content-box-lg">
          <div class="container">
            <div class="row">
              <div class="col-md-4 p-2 text-dark ">
                <div class="about-item text-center">
                  <i class="fa fa-book"></i>
                  <h3>MISSION</h3>
                  <hr>
                  <p>Appointment Scheduling System gives clients the freedom to make appointments when they choose and cancel them in a timely manner.Appointment Scheduling System provides instant access to appointment information to assist in scheduling staff and service providers.</p>
    
                </div>
              </div>
              <div class="col-md-4 p-2 text-dark">
                <div class="about-item text-center">
                  <i class="fa fa-globe"></i>
                  <h3>VISION</h3>
                  <hr>
    <p>To Make Booking Easy And Bring It to Your FingerTip by just registering with us!<br>
      Schedule As Per Your Need with Losing Time.<br>
      
      It improves customer experience by providing an easy way to book appointments.</p>              
                </div>
              </div>
              <div class="col-md-4 p-2 text-dark">
                <div class="about-item text-center">
                  <i class="fa fa-pencil"></i>
                  <h3>BENEFITS</h3>
                  <hr>
                  <p>It increases customer satisfaction because the customer doesn't have to wait on hold or call back if they don't get through right away.<br>
                    It reduces calls and emails, making communication easier for both parties.<br>
                    
                    Schedule appointments for webinars, conferences, and more.</p>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
  
  
    
    
      
   
    
      
    
        
      
      